<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>viewincode</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body background="tomato">
		<h1>VIEWINCODE</h1>
		<div id="bdiv">
			<ul>
				<li><a href="about-us">About Us</a></li>
				<li><a href="services">Services</a></li>
				<li><a href="contact_us">Contact Us</a></li>
			</ul>

		</div>

		<div id="div5">
			<div id=div1>
				<h2>Learn with US</h2>
				<ol>
				<li><a href="about-us">HTL</a></li>
				<li><a href="services">CSS</a></li>
				<li><a href="contact_us">JS</a></li>
				<li><a href="about-us">Django</a></li>
				<li><a href="services">PHP</a></li>
				<li><a href="contact_us">ReactJS</a></li>
				<li><a href="about-us">Laravel</a></li>
				<li><a href="services">Arduino</a></li>
				<li><a href="contact_us">IOT</a></li>
				<li><a href="about-us">Tech News</a></li>
				<li><a href="services">MSQL</a></li>
				
			</ol>
			</div>
			<div id="div2">
				<h3>Lorem ipsum dolor sit amet</h3>

Lorem ipsum dolor sit amet, nec iudico vulputate ad, ius elitr quidam postulant id. Te meliore senserit concludaturque eos, tantas fierent vix eu. Pro facilis nostrum referrentur ei, eum phaedrum principes id, in tation tollit nec. Eos ad graeco delenit impedit. Perpetua maiestatis quo ad, vim ut summo labitur.

Ea utroque ancillae disputationi nam, in quot graeci voluptaria sed. Ea qui quando invidunt interesset. Ea mel harum labitur incorrupte, cum an esse viderer. Ad sit sensibus delicata imperdiet. Vim eu simul quaestio. Eos unum iriure convenire ex, democritum temporibus et mei, per ea erat oratio argumentum. Ex mei errem appetere consequuntur, graeco periculis at nec, sit ipsum ceteros at.

Id usu esse aliquando, assum causae suavitate ad per. Id est labitur debitis copiosae. Oblique suscipit accusamus usu ex, nibh torquatos necessitatibus pro ea. Mel nisl quaestio vituperatoribus ea. Sit ut diam primis accusata, duo vivendo nominati te, his ei erant mandamus reprimique. Mea impedit delectus id.

Mea fugit facilisis at, at rebum debitis contentiones vim, discere consulatu persequeris et eum. Et vim velit senserit expetendis. Adipiscing instructior ne nec. Est movet tollit virtute in, vero cetero ut mel, sed ne erat propriae assueverit. Posse expetenda sed te, no qui legendos quaerendum. Partiendo consectetuer eu has, tamquam alterum appetere pri ne.

In vel timeam eripuit. Hendrerit dissentias vix no. Ad vis veritus accumsan dissentiet, cum ex labitur propriae repudiare. Omnes vidisse sententiae sed ut. Nec ex vidit regione contentiones, tota indoctum no nec.</div>
			
		</div>
</body>
</html>